body {
  background: #363940;
  text-align: center;
  overflow-y: hidden;
}
body.light-mode {
  background: white;
}
#beta{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  height:30px;
  width:50px;
  border-radius:40px;
  color:white;
  text-align: center:
}
#beta p{
  position: relative;
  top:5px;
}
#inputab{
  width:150px;
  position: relative;
  top:-53px;
  text-align: center;
  background: transparent;
  color:white;
  border:2px solid #23232D;
  border-radius:10px;
  outline: none;
  transition: width .35s ease-in-out;
}
#inputab:hover{
  width:200px;
  border-radius:5px;
}
.light-mode #inputab{
  color:black;
}
#submitab{
  position: relative;
  top:-40px;
  height:40px;
  width:40px;
  border-radius:50%;
  border: 0px solid #23232D;
  background: transparent;
  outline: none;
}
#card-about{
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  height:480px;
  width:100%;
  position: relative;
  top:-50px;
  border-radius:20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#card-aboutt{
  background: #363940;
  height:460px;
  width:95%;
  position: relative;
  left:2.5%;
  top:2%;
  border-radius:20px;
}
.light-mode #card-aboutt{
  background: white;
}
#stand{
  height:70px;
  width:70px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  top:-440px;
}
.light-mode #stand{
  border: 1px solid black;
}
#cardabbtt{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  height:260px;
  width: 90%;
  position: relative;
  top:-420px;
  left:5%;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: 400% 400%;
  font-family: 'Montserrat', sans-serif;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#changeBackground{
  background: transparent;
  color:white;
  height:40px;
  width:40px;
  outline: none;
  border: none;
  position: relative;
  left:42%;
  top:-83px;
}
#changeBackground #moon{
  display: none;
}
.light-mode #changeBackground #moon{
  display: list-item;
}
.light-mode #changeBackground #sun{
  display: none;
}